.main{
    font-size: 0;
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.box{
    display: inline-block;
    border: black 1px solid;
}

.row1{
    width: 50%;
    height: 200px;
}

.row2{
    width: 33.33%;
    height: 300px;
}

.container1{
    background-color: green;
}

.container2{
    background-color: blue;
}

.container3{
    background-color: gray;
}

.container4{
    background-color: black;
}

.container5{
    background-color: orange;
}

