nav{
    position: fixed;
    background-color: gray;
    width: 100%;
    height: 60px;
}

.nav-icon{
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 60px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 50%;
}

ul, li{
    display: inline;
}

ul {
    position: absolute;
    left: 120px;
    top: 5px;
}

.box{
    border: 10px green dotted;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    position: relative;
}

main{
    padding-top: 90px;
    min-width: 1000px;
}

.dog-img, .cat-img{
    position: absolute;
    width:200px;
    height: 200px;
}

.dog-img{
    bottom: -120px;
    right: -60px;
}

.cat-img{
    top: -90px;
    left: -90px;
}

body {
    background: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/4095232/1820/1213/m1/fpnw/wm1/space_background2cm-.jpg?1520333505&s=25201e69e17a16d7a6e739eb1e72ecb7') no-repeat;
    background-size: cover;
}